#list {
  position: absolute;
  left: calc( 50% - 300px );
  width: 600px;

  #current {
    font-size: 2em;
    margin: 1em 0;
  }

  #buttons {
    .button {
      width: 2.0em;
      height: 2.0em;
    }
  }

  #items {
    width: 100%;

    .item {
      position: relative;
      width: 100%;
      height: 1em;
      padding: 0.8em 0;

      border-bottom: 1px solid #ddd;

      .icon {
        position:absolute;
        left: 20px;
        width: 1.2em;
        height: 1.2em;
      }

      .filename {
        position: absolute;
        left: 60px;
        width: 200px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .button {
        width: 1.2em;
        height: 1.2em;
        position: absolute;

        &.download {
          left: 530px;
        }

        &.delete {
          left: 560px;
        }
      }

      .date {
        position: absolute;
        left: 300px;
      }
    }
  }
}
